@import '../../../../styles/index.less';
.wrap {
  height: 100vh;
  position: relative;
  ul{
    padding: 0;
  }
  .logo {
    width: 100%;
    text-align: center;
    padding: 112px 0 158px 0;
    img{
      width: 155px;
    }
  }
  .list {
    & li {
      height: 40px;
      line-height: 40px;
      padding-left: 30px;
      cursor: pointer;
      position: relative;
      &:first-child{
        &::before {
          content: "";
          width: 3px;
          height: 40px;
          background: linear-gradient(269.87deg, #2DA1F0 0%, #5CE2FF 54.17%, #F1F2AD 100%);
          position: absolute;
          left: 0;
        } 
      }
      &:hover {
        background: @gray-600;
        &::before {
          content: "";
          width: 3px;
          height: 40px;
          background: linear-gradient(269.87deg, #2DA1F0 0%, #5CE2FF 54.17%, #F1F2AD 100%);
          position: absolute;
          left: 0;
        } 
      }
    }
    & img {
      width: 20px;
      margin-right: 10px;
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    padding-left: 32px;
    cursor: pointer;
    img{
      width: 18px;
    }
    span{
      display: inline-block;
      margin-left: 10px;
    }
  }
}