body{
  background-color: rgba(0,0,0,0);
}
#root{
  height: 100%;
  background-color: #3c3c3c;
  border-radius: 30px;
  box-shadow:8px 8px 10px grey;
}
.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
